body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
p {
  margin: 0;
}
#copied {
  opacity: 0;
}
#copied.trigger {
  animation: fadeOut 1s ease-in-out forwards;
}
.fade-out {
  opacity: 1;
  transition: opacity 1s ease-out;
}
.fade-out {
  opacity: 0;
}

label p {
  margin: 0;
  position: relative;
}
label p span {
  position: absolute;
  top: 0;
  left: 110%;
}

.github {
  position: absolute;
  top: 0;
  left: 1%;
}
.github a {
  text-decoration: none;
  color: rgb(196, 151, 255);
}
.github a:hover {
  text-decoration: underline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.input {
  width: 50%;
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 8px;
  text-align: start;
}
#output {
  border: 1px solid white;
  cursor: pointer;
  font-size: 23px;
}
#output:hover {
  box-shadow: 0 0 10px 0px white;
}
#output:active {
  box-shadow: 0 0 4px 0px white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
